@model VareeWeb.Models.ProductDetail

<div class="form">
    <i class="fa fa-search"></i>
    @Html.TextBoxFor(m => m.ProductName, new { @class = "form-input container-md", id = "dynamicSearchBox", placeholder = "Search" , Type = "search" })
    
</div>



